<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UniversityAppUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <applicationSettings>
    <UniversityAppUI.Properties.Settings>
      <setting name="PanelItem" serializeAs="String">
        <value>37, 49, 55</value>
      </setting>
    </UniversityAppUI.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="UniversityDB_AdvancedEntities" connectionString="metadata=res://*/Model.UniversityDB_AdvancedEntities.csdl|res://*/Model.UniversityDB_AdvancedEntities.ssdl|res://*/Model.UniversityDB_AdvancedEntities.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=&quot;|DataDirectory|\UniversityDB_Advanced.mdf&quot;;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    
    <!--<add name="UniversityDB_AdvancedEntities" connectionString="metadata=res://*/Model.UniversityDB_AdvancedEntities.csdl|res://*/Model.UniversityDB_AdvancedEntities.ssdl|res://*/Model.UniversityDB_AdvancedEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\UniversityDB_Advanced.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>
